<ion-view view-title="Companies">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="c in companies" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="img/{{ c._Code }}.png">
        <h2>{{c._text}}</h2>
        <p>
            <b>Type:</b> {{ c._Type }}
            <b>Length:</b> {{ c._Length }}
            <b>Updated:</b> {{ c._Latest }}
        </p>
        <p>{{c.__note}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
