<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Proture <small>QPLOT Knowledgebase</small> </h1>
            <p class="lead">
                <span>
                    Centralize company information in organized way.
                </span>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <b>New item this week</b>
              </div>
              <div class="panel-body list-group">
                    <li class="list-group-item">
                      <span class="badge">2</span>
                      Company
                    </li>

                    <li class="list-group-item">
                      <span class="badge">8</span>
                      Contact
                    </li>
              </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <b>Total items</b>
              </div>
              <div class="panel-body list-group">
                    <li class="list-group-item">
                      <span class="badge">2</span>
                      Company
                    </li>

                    <li class="list-group-item">
                      <span class="badge">8</span>
                      Contact
                    </li>

                    <li class="list-group-item">
                      <span class="badge">2</span>
                      Stock
                    </li>

              </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <b>Top items</b>
              </div>
              <div class="panel-body">
                  <table class="table table-hover">
                      <!-- <thead>
                        <tr>
                          <th></th>
                          <th>Items</th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr>
                          <td>Company</td>
                          <td>
                              <span class="label label-default">QPLOT</span>
                              <span class="label label-default">PeopleDesigns</span>
                              <span class="label label-default">Design Hammer</span>
                          </td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>
                                <span class="label label-default">Fang Jin</span>
                                <span class="label label-default">Zhengzheng Hu</span>
                                <span class="label label-default">Design Hammer</span>
                            </td>
                        </tr>
                        <tr>
                          <td>July</td>
                          <td>Dooley</td>
                        </tr>
                      </tbody>
                    </table>

              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
    </div>
</div>
